body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20 {
  position:absolute;
  left:30px;
  top:176px;
  width:217px;
  height:670px;
  overflow:hidden;
  visibility:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:670px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 102, 255, 1);
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:671px;
}
#u21 {
  position:absolute;
  left:-1px;
  top:0px;
  width:217px;
  height:671px;
}
#u22 {
  position:absolute;
  left:2px;
  top:328px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:0px;
  top:361px;
  width:216px;
  height:61px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:212px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:0px;
  top:300px;
  width:216px;
  height:61px;
}
#u26 {
  position:absolute;
  left:2px;
  top:22px;
  width:212px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:0px;
  top:239px;
  width:216px;
  height:61px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:212px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:0px;
  top:178px;
  width:216px;
  height:61px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:212px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u31 {
  position:absolute;
  left:12px;
  top:19px;
  width:84px;
  height:84px;
}
#u32 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
}
#u34 {
  position:absolute;
  left:31px;
  top:626px;
  width:46px;
  height:32px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u36 {
  position:absolute;
  left:90px;
  top:633px;
  width:70px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:104px;
  top:42px;
  width:94px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u40 {
  position:absolute;
  left:115px;
  top:64px;
  width:62px;
  height:14px;
  font-size:11px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u45 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:20px;
}
#u46 {
  position:absolute;
  left:31px;
  top:105px;
  width:412px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:73px;
}
#u48 {
  position:absolute;
  left:93px;
  top:576px;
  width:110px;
  height:73px;
}
#u48_img.selected {
}
#u48.selected {
}
#u49 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u50 {
  position:absolute;
  left:128px;
  top:659px;
  width:54px;
  height:36px;
  font-size:20px;
}
#u50_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u50.selected {
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u52 {
  position:absolute;
  left:38px;
  top:187px;
  width:32px;
  height:27px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_ann {
  position:absolute;
  left:63px;
  top:183px;
  width:1px;
  height:1px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:210px;
}
#u54 {
  position:absolute;
  left:93px;
  top:228px;
  width:288px;
  height:210px;
}
#u55 {
  position:absolute;
  left:2px;
  top:97px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:73px;
}
#u57 {
  position:absolute;
  left:276px;
  top:576px;
  width:105px;
  height:73px;
}
#u58 {
  position:absolute;
  left:2px;
  top:28px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u59 {
  position:absolute;
  left:310px;
  top:659px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:29px;
  top:121px;
  width:414px;
  height:55px;
}
#u62 {
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:45px;
  top:130px;
  width:65px;
  height:37px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:31px;
}
#u66 {
  position:absolute;
  left:45px;
  top:133px;
  width:15px;
  height:31px;
}
#u67 {
  position:absolute;
  left:2px;
  top:8px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u68 {
  position:absolute;
  left:67px;
  top:136px;
  width:43px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u70 {
  position:absolute;
  left:124px;
  top:133px;
  width:227px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
